.container{
    width:100%;
    min-height: 100vh;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}


nav ul li a{
    text-decoration: none;
    color: cyan;
    font-size: 26px;
}
nav ul li a:hover{
    color: purple;
}
.texts{
    margin-left: 55%;
    margin-top: 10%;
}
.Par-1{
    color: black;
    font-size: 120%;
    text-align: center;
    font-family:fantasy;
}
.box{
    margin-top: 250px;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(cyan, turquoise);
    border-radius: 20px 0 0 20px;
    height: 50%;
    width: 50%;
}
.download{
    margin-left: -80%;
    margin-top: 10%;    
}
.DButton{
    background-color: black;
    height: 50px;
    width: 150px;
	font-size:20px;
    color: cyan;
}
.DButton:hover{
    height: 40px;
    width: 110px;
    color: purple;
}
.vid{
    margin-left: -120%;
    margin-top: -40%;    
}
.main-nav {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    width: 30%;
    height: 20%;
}

.main-nav li {
  list-style: none;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -100px;
  overflow: hidden;
  opacity: 0.3;
 outline: cyan solid 5px;

}

.main-nav li:hover {
  opacity: 1;
  width: 300px;
  height: 300px;
}

.main-nav li.item1 {
  top: 0;
  left: 0;
  z-index: 5;
}

.main-nav li.item2 {
  bottom: 0;
  left: 25%;
  z-index: 4;
}

.main-nav li.item3 {
  top: 0;
  left: 50%;
  z-index: 3;
}

.main-nav li.item4 {
  bottom: 0;
  left: 75%;
  z-index: 2;
}

.main-nav li.item5 {
  top: 0;
  left: 100%;
  z-index: 1;
}

.main-nav li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.main-nav li.item1 .bg {
  background: url("Images/SS1.png");
    background-size: 270px 270px;
  background-position: center;
}

.main-nav li.item2 .bg {
  background: url("Images/SS2.png");
  background-size: 270px 270px;
  background-position: center;
}

.main-nav li.item3 .bg {
  background: url("Images/G9Logo.png");
  background-size: 270px 270px;
  background-position: center;
}

.main-nav li.item4 .bg {
  background: url("Images/SS4.png");
  background-size: 270px 270px;
  background-position: center;
}

.main-nav li.item5 .bg {
  background:  url("Images/SS3.png");
  background-size: 270px 270px;
  background-position: center;
}
